<div class="main">
    <form [formGroup]="form">
        <div *ngIf="devEnvs().length" formArrayName="devEnvs">
            <div class="devenv" *ngFor="let devEnv of devEnvs().controls; let i=index">
                <h2>{{devEnv.get("name")?.getRawValue()}}<div class="subtitle">Development environment</div></h2>
                <div [formGroupName]="i">

                    <mat-card>
                        <mat-card-header><mat-card-title>Container</mat-card-title></mat-card-header>
                        <mat-card-content>
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label><span>Image</span></mat-label>
                                <input matInput formControlName="image">
                            </mat-form-field>
                            <app-multi-text formControlName="command" label="Command" addLabel="Add command"></app-multi-text>
                            <app-multi-text formControlName="args" label="Arg" addLabel="Add arg"></app-multi-text>
                        </mat-card-content>

                    </mat-card>

                    <div formArrayName="userCommands">
                        <mat-card class="userCommand" *ngFor="let userCommand of userCommands(i).controls; let j=index" [formGroupName]="j">
                            <mat-card-header>
                                <mat-card-title>{{userCommand.get('name')?.getRawValue()}}</mat-card-title>
                                <mat-card-subtitle>Command</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <mat-form-field appearance="outline" class="mid-width">
                                    <mat-label><span>Group</span></mat-label>
                                    <mat-select formControlName="group">
                                        <mat-option *ngFor="let key of groupsKeys; let k=index" [value]="key">{{groupsValues[k]}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-checkbox formControlName="default">Default command in the group</mat-checkbox>
                            </mat-card-content>                            
                            <mat-card-content>
                                <mat-form-field appearance="outline" class="mid-width">
                                    <mat-label><span>Command Line</span></mat-label>
                                    <input matInput formControlName="commandLine">
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="mid-width">
                                    <mat-label><span>Working Dir</span></mat-label>
                                    <input matInput formControlName="workingDir">
                                </mat-form-field>
                                <mat-checkbox formControlName="hotReloadCapable">Hot Reload Capable</mat-checkbox>
                            </mat-card-content>
                        </mat-card>
                    </div>

                    <app-new-user-command [devEnvName]="devEnv.get('name')?.getRawValue()"></app-new-user-command>

                    <button mat-flat-button [matTooltip]="'save environment &#34;'+devEnv.get('name')?.getRawValue()+'&#34;'" (click)="update(i)">Save</button>
                    <button mat-flat-button [matTooltip]="'delete environment &#34;'+devEnv.get('name')?.getRawValue()+'&#34;'" >Delete</button>

                </div>
            </div>
        </div>
        <div class="nothingHere" *ngIf="!devEnvs().length"><i>No Development environment</i></div>

        <app-new-dev-env [showForm]="showCreate"></app-new-dev-env>

    </form>
</div>