<div class="main">
    <h2>Add a new resource</h2>
    <form [formGroup]="form">
        <mat-form-field appearance="outline" class="mid-width">
            <mat-label><span>Name</span></mat-label>
            <input data-cy="resource-name" matInput formControlName="name">
        </mat-form-field>
    
        <span class="toggleUriInlined">
            <mat-button-toggle-group (change)="changeUriOrInlined($event.value)">
                <mat-button-toggle value="uri" checked>Specify URI</mat-button-toggle>
                <mat-button-toggle value="inlined">Inlined content</mat-button-toggle>
            </mat-button-toggle-group>
        </span>

        <mat-form-field *ngIf="uriOrInlined=='uri'" appearance="outline" class="full-width">
            <mat-label><span>URI</span></mat-label>
            <input data-cy="resource-uri" matInput formControlName="uri">
        </mat-form-field>
    
        <mat-form-field  *ngIf="uriOrInlined=='inlined'" appearance="outline" class="full-width">
            <mat-label>YAML Manifest</mat-label>
            <textarea data-cy="resource-manifest" matInput formControlName="inlined" rows="8"></textarea>
        </mat-form-field>
    
    </form>

    <button data-cy="resource-create" [disabled]="form.invalid" mat-flat-button color="primary" matTooltip="create new resource" (click)="create()">Create</button>
    <button *ngIf="cancelable" mat-flat-button (click)="cancel()">Cancel</button>
</div>