<div class="main">
    <h2>Add an Apply Command</h2>
    <form [formGroup]="form">
        <mat-form-field appearance="outline" class="mid-width">
            <mat-label><span>Name</span></mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        <div><app-select-container
            formControlName="component"
            label="Resource"
            [containers]="resourceList"
            (createNew)="onCreateNewContainer($event)"></app-select-container></div>
    </form>

    <app-resource
        *ngIf="showNewResource"
        (created)="onNewResourceCreated($event)"
        ></app-resource>

    <button [disabled]="form.invalid" mat-flat-button color="primary" matTooltip="create new Apply Command" (click)="create()">Create</button>
    <button mat-flat-button (click)="cancel()">Cancel</button>
</div>
