<div class="main">
    <h2>Add a new container</h2>
    <form [formGroup]="form">
        <mat-form-field appearance="outline" class="mid-width">
            <mat-label><span>Name</span></mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field appearance="outline" class="mid-width">
            <mat-label><span>Image</span></mat-label>
            <input matInput formControlName="image">
        </mat-form-field>
        <app-multi-text formControlName="command" label="Command" addLabel="Add command"></app-multi-text>
        <app-multi-text formControlName="args" label="Arg" addLabel="Add arg"></app-multi-text>
    </form>

    <button [disabled]="form.invalid" mat-flat-button color="primary" matTooltip="create new container" (click)="create()">Create</button>
    <button *ngIf="cancelable" mat-flat-button (click)="cancel()">Cancel</button>
</div>