<div class="main">
    <h2>Add an Exec Command</h2>
    <form [formGroup]="form">
        <mat-form-field appearance="outline" class="mid-width">
            <mat-label><span>Name</span></mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        <mat-checkbox formControlName="hotReloadCapable">Hot Reload Capable</mat-checkbox>    
        <mat-form-field appearance="outline" class="mid-width">
            <mat-label><span>Command Line</span></mat-label>
            <input matInput formControlName="commandLine">
        </mat-form-field>
        <mat-form-field appearance="outline" class="mid-width">
            <mat-label><span>Working Dir</span></mat-label>
            <input matInput formControlName="workingDir">
        </mat-form-field>
        <app-select-container formControlName="component" label="Container" [containers]="containerList"></app-select-container>
    </form>

    <button [disabled]="form.invalid" mat-flat-button color="primary" matTooltip="create new Exec Command" (click)="create()">Create</button>
    <button mat-flat-button (click)="cancel()">Cancel</button>
</div>
