<div class="newButton">
    <button *ngIf="!showForm" mat-flat-button (click)="showForm = true">New Development Environment</button>
</div>

<mat-card *ngIf="showForm">
    <mat-card-header>
        <mat-card-title>New Development Environment</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div>
            <mat-form-field appearance="outline" class="mid-width">
                <mat-label><span>Name</span></mat-label>
                <input matInput [formControl]="newName">
            </mat-form-field>            
            <mat-form-field appearance="outline" class="mid-width">
                <mat-label><span>Image</span></mat-label>
                <input matInput [formControl]="newImage">
            </mat-form-field>            
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button (click)="createNew()">Create</button>
        <button mat-flat-button (click)="createCancel()">Cancel</button>
    </mat-card-actions>
</mat-card>
