<div class="main">
    <mat-card data-cy="container-info" *ngFor="let container of containers">
        <mat-card-header class="colored-title">
            <mat-card-title>{{container.name}}</mat-card-title>
            <mat-card-subtitle>Container</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <table class="aligned">
                <tr>
                    <td>Image:</td>
                    <td><code>{{container.image}}</code></td>
                </tr>
                <tr *ngIf="container.command.length > 0">
                    <td>Command:</td>
                    <td><code>{{container.command.join(" ")}}</code></td>
                </tr>
                <tr *ngIf="container.args.length > 0">
                    <td>Args:</td>
                    <td><code>{{container.args.join(" ")}}</code></td>
                </tr>
            </table>

        </mat-card-content>

        <mat-card-actions>
            <button mat-button (click)="delete(container.name)">Delete</button>
        </mat-card-actions>

    </mat-card>

    <app-container 
        *ngIf="forceDisplayAdd || containers == undefined || containers.length == 0"
        [cancelable]="forceDisplayAdd"
        (canceled)="undisplayAddForm()"
        (created)="onCreated($event)"
        ></app-container>
    <button *ngIf="!forceDisplayAdd && containers != undefined && containers.length > 0" mat-flat-button (click)="displayAddForm()">Add a new container</button>

</div>
