<div class="nothing-here" *ngIf="!getCommandsByKind(commands, kind)?.length && kind != ''">No {{kind}} commands yet. You can create a command then drag&drop it here</div>
<div class="nothing-here" *ngIf="!getCommandsByKind(commands, kind)?.length && kind == ''">No generic commands yet. New commands will appear here</div>
<ng-container *ngFor="let command of commands">
    <mat-card cdkDrag *ngIf="command.group == kind">
        <mat-card-header>
            <mat-card-title>{{command.name}}</mat-card-title>
            <mat-card-subtitle *ngIf="command.type == 'exec'">Exec Command</mat-card-subtitle>
            <mat-card-subtitle *ngIf="command.type == 'apply'">Apply Command</mat-card-subtitle>
            <mat-card-subtitle *ngIf="command.type == 'image'">Image Command</mat-card-subtitle>
            <mat-card-subtitle *ngIf="command.type == 'composite'">Composite Command</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <mat-checkbox 
                *ngIf="command.group != ''" 
                [checked]="command.default" 
                (change)="toggleDefault($event, command.name, command.group)"
            >Default {{kind}} command</mat-checkbox>

            <ng-container *ngIf="command.type == 'exec'">
                <div>Container: {{command.exec?.component}}</div>
                <div>Command Line: {{command.exec?.commandLine}}</div>
                <div>Working Directory: {{command.exec?.workingDir}}</div>
                <div *ngIf="command.exec?.hotReloadCapable">Is Hot Reload Capable</div>
            </ng-container>

            <ng-container *ngIf="command.type == 'apply'">
                <div>Cluster resource: {{command.apply?.component}}</div>
            </ng-container>

            <ng-container *ngIf="command.type == 'image'">
                <div>Image: {{command.image?.component}}</div>
            </ng-container>

            <ng-container *ngIf="command.type == 'composite'">
                <div *ngIf="command.composite?.parallel">Commands executed in parallel</div>
                <div *ngIf="!command.composite?.parallel">Commands executed serially</div>
                <ng-container *ngIf="command.composite?.parallel">
                    <div class="parallel-command" *ngFor="let command of command.composite?.commands">
                        <span class="command">{{command}}</span>
                    </div>
                </ng-container>
                <div class="serial-commands" *ngIf="!command.composite?.parallel">
                    <span class="command" *ngFor="let command of command.composite?.commands">
                        {{command}}
                    </span>
                </div>
            </ng-container>

        </mat-card-content>

        <mat-card-actions>
            <button mat-button (click)="delete(command.name)">Delete</button>
        </mat-card-actions>

    </mat-card>
</ng-container>